<table>
    <tr>
        <td> <img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
    </tr>
    <tr>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
    </tr>
    <tr>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
    </tr>
    <tr>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
        <td><img src="~/Images/skull.jpg" alt="Alternate Text" /></td>
    </tr>
</table>
